*{
    margin:0;
    padding:0;
    list-style:none; 
}
html,body{
    width:100%;
    height:100%;
}
html{
    font-size:62.5%;
}
.main{
    width:100%;
    height:100%;
    //overflow:hidden;
}


	 section{
		width:100%;
		height:100%;	
        background:url(../img/phoneBg.jpg) no-repeat;
         position: relative;
      
         

	}


/*
@-webkit-keyframes hh{
			from{
				-webkit-transform:scale3d(1.3,1.3,1.3);

	 -webkit-transition:all 0.5s;
			} 
			to{
				-webkit-transform:scale3d(0.5,0.5,0.5);

	
    		}
		}
*/


	

	

